In [2]:
import sqlite3 as sql
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot

conn = sql.connect('trvlag.db')

query = '''SELECT * FROM booking'''

df = pd.read_sql_query(query, conn);df.head()

   ID            LOGIN COUNTRY_NAME      S_DATE      E_DATE   PRICE  SPOT
0   1       us@usa.com          Usa  2021-09-30  2021-12-30  1300.0     2
1   3       us@usa.com       Canada  2021-01-30  2021-04-30  1200.0     2
2   4    ftp@gmail.com       Canada  2021-01-30  2021-04-30  1200.0     1
3   5  power@gmail.com       Brazil  2021-09-30  2021-12-30  1400.0     2
4   6  power@gmail.com       Canada  2021-05-30  2021-08-30  1200.0     1